<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Movies App</h1>
        <p class="lead">Esta es una aplicacion de pelis.</p>
    </div>
</div>
<div class="container gallery-container">

    <app-galeria titulo="Peliculas en cartelera" [peliculas]='cartelera'></app-galeria>

    <app-galeria titulo="Peliculas populares" [peliculas]='populares'></app-galeria>

    <app-galeria titulo="Peliculas de kids populares" [peliculas]='popularesNinios'></app-galeria>
</div>

<!-- <br>
    <h1 class="display-4">Populares</h1>
    <p class="lead">Peliculas mas populares en la actualidad.</p>
    <hr class="my-4">
    <div class="container gallery-container">

        <div class="row">

            <div class="col-sm-6">

                <div class="row">
                    <div class="col-md-12 div-pic-1" [ngStyle]="{ 'background-image':  'url( http://image.tmdb.org/t/p/w500/'+populares.results[0].poster_path +')' }">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 div-pic-2" [ngStyle]="{ 'background-image':  'url( http://image.tmdb.org/t/p/w500/'+populares.results[1].poster_path +')' }">
                    </div>
                    <div class="col-sm-6 div-pic-2" [ngStyle]="{ 'background-image':  'url( http://image.tmdb.org/t/p/w500/'+populares.results[2].poster_path +')' }">
                    </div>
                </div>

            </div>

            <div class="col-sm-6">


                <div class="row">
                    <div class="col-sm-6 div-pic-2" [ngStyle]="{ 'background-image':  'url( http://image.tmdb.org/t/p/w500/'+populares.results[3].poster_path +')' }">
                    </div>
                    <div class="col-sm-6 div-pic-2" [ngStyle]="{ 'background-image':  'url( http://image.tmdb.org/t/p/w500/'+populares.results[4].poster_path +')' }">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 div-pic-1" [ngStyle]="{ 'background-image':  'url( http://image.tmdb.org/t/p/w500/'+populares.results[5].poster_path +')' }">
                    </div>
                </div>

            </div>





        </div>


    </div>


    <br>
    <h1 class="display-4">Populares entre los niños</h1>
    <p class="lead">Peliculas mas populares en la actualidad para niños.</p>
    <hr class="my-4">
    <div class="container gallery-container">

        <div class="row">

            <div class="col-sm-6">

                <div class="row">
                    <div class="col-md-12 div-pic-1" [ngStyle]="{ 'background-image':  'url( http://image.tmdb.org/t/p/w500/'+popularesNinios.results[0].poster_path +')' }">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 div-pic-2" [ngStyle]="{ 'background-image':  'url( http://image.tmdb.org/t/p/w500/'+popularesNinios.results[1].poster_path +')' }">
                    </div>
                    <div class="col-sm-6 div-pic-2" [ngStyle]="{ 'background-image':  'url( http://image.tmdb.org/t/p/w500/'+popularesNinios.results[2].poster_path +')' }">
                    </div>
                </div>

            </div>

            <div class="col-sm-6">


                <div class="row">
                    <div class="col-sm-6 div-pic-2" [ngStyle]="{ 'background-image':  'url( http://image.tmdb.org/t/p/w500/'+popularesNinios.results[3].poster_path +')' }">
                    </div>
                    <div class="col-sm-6 div-pic-2" [ngStyle]="{ 'background-image':  'url( http://image.tmdb.org/t/p/w500/'+popularesNinios.results[4].poster_path +')' }">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 div-pic-1" [ngStyle]="{ 'background-image':  'url( http://image.tmdb.org/t/p/w500/'+popularesNinios.results[5].poster_path +')' }">
                    </div>
                </div>

            </div>





        </div>


    </div> -->