<div class="container main-container">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Buscar</label>
        <input name="buscar" [(ngModel)]="buscar" class="form-control" type="text" placeholder="Buscar"
               (keyup.enter)="buscarPelicula()">
        <small id="helpId" class="form-text text-muted">Ingrese una palabra para buscar..</small>
      </div>
    </div>
  </div>


  <div class="card-columns">
    <div *ngFor="let item of service.peliculas.results" class="card">
      <img class="card-img-top" alt="Card image cap" [src]="  (item) | controlaUrlPoster ">
      <div class="card-body">
        <h5 class="card-title"> {{ item.original_title }} </h5>
        <p class="card-text text-justify">  {{ item.overview | slice:0:300 }}... </p>
        <input type="button" [routerLink]="['/movie',item.id,'search',buscar ]"
               class="btn btn-outline-primary btn-block " value="Ver mas..">
      </div>
    </div>

  </div>


</div>
